<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {{ 'password-hidden.css' | asset_url | stylesheet_tag }}

    <title>{{ shop.name }}</title>

    {{ content_for_header }}
  </head>

  <body>
    <main id="MainContent">
      {{ content_for_layout }}
    </main>

    <script src="{{ 'password-hidden.min.js' | asset_url }}"></script>
  </body>
</html>
